# Ignore node_modules for both frontend and server
/frontend/node_modules
/server/node_modules


/frontend/build
/server/dist

# Ignore log files
*.log

# Ignore any specific IDE or editor files
.vscode/
.idea/